*~
build_conf_dir/
build_directory/
build_artifacts/
tmpsrc/
#*.tar.bz2
debian/*.debhelper.log
debian/*.debhelper
debian/*.substvars
debian/files
debian/bm-hsm-consult/
debian/bm-push/
debian/bm-node/
debian/bm-soap/
debian/bm-admin-console/
debian/bm-setup-wizard/
debian/bm-installation-wizard/
debian/bm-default-app/
debian/bm-webmail/
debian/bm-calendar/
debian/bm-lmtpd/
debian/bm-apache/
debian/bm-ca/
debian/bm-cas-role/
debian/bm-certs/
debian/bm-contact/
debian/bm-hps/
debian/bm-ldap/
debian/bm-mailbox-role/
debian/bm-mq/
debian/bm-settings/
debian/bm-tomcat/
debian/bm-webmail/
debian/bm-im/
debian/bm-plugin-core-ad-import/
debian/slapd.conf
debian/slapd.conf.bm
debian/ysnp/
debian/stamp-makefile-build
debian/stamp-makefile-check
debian/stamp-makefile-install
build_*.log
*.pyc
.DS_Store
*.swp
target
*.iml
.idea
.settings
# jvm OOM
hs_*.log
*.log
velocity.log*
