#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/debhelper.mk

# Do not generate crappy dependencies for unused libs
DEB_DH_SHLIBDEPS_ARGS_bm-agent-server := "-Xlib"

DEB_UPDATE_RCD_PARAMS_bm-agent-server := "defaults 62 01"

build:

install/bm-agent-server::
	cp -rf ${CURDIR}/ROOT/* ${CURDIR}/debian/bm-agent-server
	chmod +x ${CURDIR}/debian/bm-agent-server/usr/share/bm-agent-server/bm_java_home
